{{#discodefinition}}
<strong><span class="glyphicon glyphicon-education"></span>&nbsp;Discodefinition of the moment:</strong>

<blockquote>
    
    <div class="quote-sidebar">
        
        <img src="{{avatar}}"></img>
        
    </div>
    
    <div class="quote">
        <strong><a href="http://what.thedailywtf.com/users/{{author}}">{{author}}</a></strong>
        <br><br>
        {{{body}}}
        <br><br>
        
    </div>
    <div class="clearfix"></div>
    <footer>
        <cite><a href="{{url}}" target="_blank">Discop&aelig;dia</a>, {{author}} {{name}} {{authorTitle}}</cite>
    </footer>
</blockquote>
{{/discodefinition}}