<strong><span class="glyphicon glyphicon-education"></span>&nbsp;Discodefinition of the day:</strong>

<blockquote>
    
    <div style="width: 60px; float: left;">
        
        <img src="{{avatar}}"></img>
        
    </div>
    
    <div style="width: 100%;">
        <strong><a href="what.thedailywtf.com/users/{{author}}">{{author}}</a></strong>
        <br><br>
        {{{body}}}
        <br><br>
        
    </div>
    <div class="clearfix"></div>
    <footer>
        <cite><a href="{{url}}" target="_blank">Discop&aelig;dia</a>, {{author}} {{name}} {{authorTitle}}</cite>
    </footer>
</blockquote>