<strong>Discodefinition of the day:</strong>
<br><br>
<blockquote>
    <p><strong>accalia</strong><br><em>verb</em></p>
    
    <ol>
    <li>To post without first checking said post for spellar and gramming</li>
    <li>To post posts that don't make a lot of sense to anyone [<a href="//what.thedailywtf.com/t/state-using-superb-owl/1673/8898?u=raceprouk">cite</a>]</li>
    <li>To go on a wild like spree [<a href="//what.thedailywtf.com/t/state-using-superb-owl/1673/8898?u=raceprouk">cite</a>]</li>
    <li>To give off the appearance of being evil without actually being evil</li>
    </ol>
    
    <p><strong>accalia</strong><br><em>noun</em></p>
    
    <ol>
    <li>Creator of the <a class="mention" href="/users/sockbot">@sockbot</a> series of forum bots.</li>
    <li>A spellar or gramming error esp. one that only foxes would make</li>
    </ol>
    
    <footer>
        <cite><a href="http://what.thedailywtf.com/users/RaceProUK" target="_blank">RaceProUk, Cyber-harinezumi; @accalia's queen; TRWTF</a></cite>
    </footer>
</blockquote>