<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">

		<title>Is it just me or server cooties?</title>

		<!-- jQuery 1.11.2 (for compatibility with IE < 9) -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

		<!-- Bootstrap -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

		<!-- Custom scripts -->
		<script type="text/javascript" src="/static/scripts/spin.js"></script>

		<!-- Custom styles -->
		<link type="text/css" rel="stylesheet" media="screen" href="/static/styles/main.css">
		<link type="text/css" rel="stylesheet" media="screen" href="/static/styles/animations.css">

	</head>

	<body>

		<div class="container-fluid">

			<div class="row">
				<div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
					<a href="http://isitjustmeorservercooties.com">
						<img src="/static/images/trwtf.png">
					</a>
				</div>
			</div>

			<div class="row" style="background: #d9e6f0; margin-top: 5px;">
				<div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
					<img src="/static/images/isserver.png">
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 pad-top">

					<h1>Error 504: Gateway timeout</h1>
					<br>
					<p>

						Irony so thick you can slice it with a knife! Available on a <code>nginx</code> instance near you!

					</p>

				</div>
			</div>

			<div class="row" id="spin-button">
				<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 pad-top">
					<btn class="btn btn-primary">SPIN_BUTTON_NOT_FOUND</btn>
				</div>
			</div>
		</div>
	</body>

</html>
