<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">

		<title>Is it just me or server cooties?</title>

		<!-- jQuery 1.11.2 (for compatibility with IE < 9) -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

		<!-- Bootstrap -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

		<!-- Custom scripts -->
		<script type="text/javascript" src="/static/scripts/spin.js"></script>

		<!-- Custom styles -->
		<link type="text/css" rel="stylesheet" media="screen" href="/static/styles/main.css">
		<link type="text/css" rel="stylesheet" media="screen" href="/static/styles/animations.css">

	</head>

	<body>

		<div class="container-fluid">

			<div class="row">
				<div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
					<a href="http://isitjustmeorservercooties.com">
						<img src="/static/images/trwtf.png">
					</a>
				</div>
			</div>

			<div class="row" style="background: #d9e6f0; margin-top: 5px;">
				<div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
					<img src="/static/images/aredevs.png">
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 pad-top">

					<h1>Error 500:</h1>
					<h1 align="right">Naughty developers! <code>SPANK SPANK!</code></h1>
					
					<div class="row" style="text-align: center;">
						<div class="col-xs-12 col-sm-6 col-md-6">
							<img src="/static/images/accaliad.jpg">
							<p>
								<code>@accalia</code><code>@accalia'd</code> a variable name
							</p>
							
						</div>
						<div class="col-xs-12 col-sm-6 col-md-6">
							<img src="/static/images/raceproukd.gif">
							<p>
								<code>@RaceProUK</code> played Sonic instead of coding
							</p>
							
						</div>
						<div class="col-xs-12 col-sm-6 col-md-6">
							<img src="/static/images/onyxd.gif" style="height: 209px;">
							<p>
								<code>@Onyx</code> uploaded a meme to the repo
							</p>
							
						</div>
						<div class="col-xs-12 col-sm-6 col-md-6">
							<img src="/static/images/yamid.jpg" style="width: 295px;">
							<p>
								<code>@Yamikuronue</code> got a little too silly
							</p>
							
						</div>
					</div>

					<p>
						Either way, something broke. The error has been logged to <code>/dev/null</code> and will be addressed shortly.
					</p>

				</div>
			</div>

			<div class="row" id="spin-button">
				<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 pad-top">
					<btn class="btn btn-primary">Our spin button code is rock-solid, though!</btn>
				</div>
			</div>
		</div>
	</body>

</html>
</html>
