<div>
    <div id="timeChartContainer" style="height: 300px; width: 100%;"></div>
    <script type="text/javascript">
        var chart = new CanvasJS.Chart("timeChartContainer", {
            title: {
                text: "Latest Response Times"
            },
            width: $(".tab-content").width(),
            height: 300,
            axisX:{
                valueFormatString: "HH:mm"
            },
            axisY:{
              suffix: ' s'
            },
            data: {{&getTimeChart}}
        });
        chart.render();
    </script>
</div>
