<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  {{#summary}}
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="heading{{checkIndex}}">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{checkIndex}}" aria-expanded="false" aria-controls="collapse{{checkIndex}}" class="{{#checkIndex}}collapsed{{/checkIndex}}">
          {{name}}
        </a>
      </h4>
    </div>
    <div id="collapse{{checkIndex}}" class="panel-collapse collapse {{^checkIndex}}in{{/checkIndex}}" role="tabpanel" aria-labelledby="heading{{checkIndex}}">
      <table class="table table-condensed history">
        <thead>
          <tr>
            <th>
              Polled at
            </th>
            <th>
              Time
            </th>
            <th>
              Code
            </th>
          </tr>
        </thead>
          <tbody>
            {{#values}}
            {{>history_table_row}}
            {{/values}}
          </tbody>
      </table>
    </div>
  </div>
  {{/summary}}
</div>