<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>Is it just me or server cooties?</title>
		<!-- Bootstrap CSS-->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

		<!-- Custom styles -->
		<link type="text/css" rel="stylesheet" media="screen" href="/static/styles/main.css">
		<link type="text/css" rel="stylesheet" media="screen" href="/static/styles/animations.css">

		<!-- jQuery 1.11.2 (for compatibility with IE < 9) -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

		<!-- Bootstrap JS-->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

		<!-- Custom scripts -->
		<script type="text/javascript" src="/static/scripts/spin.js"></script>
		<script type="text/javascript" src="/static/scripts/round.js"></script>
		<script type="text/javascript" src="/static/plugins/Clownify/clownify.js"></script>
	</head>

	<body>

		<div class="container-fluid">

			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 header-image">
					<img id="trwtfimg" src="/static/images/trwtf.png">
				</div>
			</div>

		</div>

		<nav class="navbar headerbar" id="main-title">
			<div id="header-image-wrapper">
				<img src="/static/images/{{#up}}isyou{{/up}}{{^up}}isdiscourse{{/up}}.png">
			</div>

			<div class="container-fluid">

				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown">
						<a href="#" id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="glyphicon glyphicon glyphicon-menu-hamburger dropdown-toggle hamburger"></a>
					  	<ul class="dropdown-menu" role="menu">
							<li><a href="#" id="roundingbutton"><span class="glyphicon glyphicon-random"></span>&nbsp;DiscoRound</a></li>
							<li><a href="#" id="vomitbutton"><span class="glyphicon glyphicon-tint"></span>&nbsp;Clown Vomit Mode</a></li>
						</ul>
					</li>

				</ul>

			</div>
		</nav>

		<div class="container-fluid">

			<div class="row">
				<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 pad-top">
					
					<div role="tabpanel">

						<!-- Nav tabs -->
						<ul class="nav nav-tabs nav-justified" role="tablist">
							<li role="presentation" class="active">
								<a href="#status" aria-controls="status" role="tab" data-toggle="tab">
									<span class="glyphicon glyphicon-ok"></span>&nbsp;Status
								</a>
							</li>
							<li role="presentation">
								<a href="#history" aria-controls="history" role="tab" data-toggle="tab">
									<span class="glyphicon glyphicon-hourglass"></span>&nbsp;History
								</a>
							</li>
							<li role="presentation">
								<a href="#graph" aria-controls="graph" role="tab" data-toggle="tab">
									<span class="glyphicon glyphicon-stats"></span>&nbsp;Graph
								</a>
							</li>
						</ul>
						
						<!-- Tab panes -->
						<div class="tab-content">
							<div role="tabpanel" class="tab-pane active" id="status">
								<table class="table">
									<thead>
										<tr>
											<th>URL</th>
											<th>Response time</th>
											<th>Status</th>
										</tr>
									</thead>
			
									<tbody>
										{{#summary}}
										<tr class="{{response}}">
											<td><code class="itemName">{{name}}</code></td>
											<td><code class="responseTime">{{responseTime}} ms</code></td>
											<td><span class="label label-default {{code}}">{{code}}</span></td>
										</tr>
										{{/summary}}
									</tbody>
			
									<tfoot>
										<tr>
											<td colspan="3">{{status}}</td>
										</tr>
									</tfoot>
			
								</table>
							</div>
							<div role="tabpanel" class="tab-pane" id="history">
								{{>result_table}}
							</div>
							<div role="tabpanel" class="tab-pane" id="graph">
								<img src="https://plot.ly/~shadowmod/481.svg" height="500" width="700" />
								<br/><a href="https://plot.ly/~shadowmod/481">Click for interactive graph.</a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 pad-top">
					{{flavor}}
				</div>
			</div>

			<div class="row" id="spin">
				<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 pad-top">
					<btn class="btn btn-primary" id="spin-button">You spin me right round baby, right round...</btn>
				</div>
			</div>
		</div>
	</body>

</html>