<table class="table statustable">
	<thead>
		<tr>
			<th>URL</th>
			<th>Time</th>
			<th>Status</th>
		</tr>
	</thead>

	<tbody>
		{{#summary}}
		<tr class="{{response}}">
			<td><code class="itemName">{{name}}</code></td>
			<td><code class="responseTime">{{responseTime}}&nbsp;s</code></td>
			<td><span class="label label-default {{response}}">{{response}}</span></td>
		</tr>
		{{/summary}}
	</tbody>

	<tfoot>
		<tr>
			<td colspan="3" id="statusText">{{status}}</td>
		</tr>
	</tfoot>

</table>