tr.GREAT{ 
	background-color: green;
}

tr.OK {
	background-color: yellow;
}

tr.BAD {
	background-color: red;
}

tfoot td {
	background-color: purple;
	color: white;
}

div.headerbar {
	background-color: red;
}
