body {
	padding-top: 15px;
}

#buttons {
	padding-top: 20px;
	padding-bottom: 20px;
}

.btn {
	border-radius: 0;
	width: 100%;
}

.pad-top {
	padding-top: 25px;
}

code {
	background: #ffffff;
}

.GREAT code {
	color: #3AB54A;
}

.GOOD code {
	color: #2db8c2;
}

.OK code {
	color: #0E76BD;
}

.BAD code {
	color: #c1103b;
}

.OFFLINE code {
	color: #92278F;
}

.label {
	border-radius: 0px;
}

.GREAT .label {
	background: #3AB54A;
}

.GOOD .label {
	background: #2db8c2;
}

.OK .label {
	background: #0E76BD;
}

.BAD .label {
	background: #c1103b;
}

.OFFLINE .label {
	background-color: #92278F;
}

@media (min-width: 1200px) {
	.visible-lg-inline {
		display: inline!important;
	}
}

@media (max-width: 1199px) and (min-width: 992px) {
	.visible-md-inline {
		display: inline!important;
	}
}

@media (max-width: 991px) and (min-width: 768px) {
	.visible-sm-inline {
		display: inline!important;
	}
}

@media (max-width: 767px) {
	.visible-xs-inline {
		display: inline!important;
	}
}

.headerbar {
	background: #d9e6f0; 
	margin-top: 5px;
	text-align: center;
	border-radius: 0px;
}

.hamburger {
	font-size: 1.3em;
	background: transparent;
}

.header-image {
	text-align: center;
}

.navbar-right {
	margin-top: 0;
	margin-bottom: 0;
}

.navbar-right .dropdown {
	margin-right: 5px;
}

.navbar-right > .dropdown > a {
	color: #666;
	padding: 5px 15px;
	
	width: 48px;
	float: right;
}

.nav-tabs.nav-justified li a {
	border-radius: 0px;
}

.panel.panel-default {
	border-radius: 0px;
}

.panel-heading {
	border-radius: 0px;
	background-color: #d9e6f0!important;
}

@media screen and (max-width: 768px) {
	
	.header-image {
    	text-align: left;
    }
    
    .headerbar {
    	text-align: left;
    }
    
    .headerbar .container-fluid {
		padding-right: 0;
	}
	
	#header-image-wrapper {
		text-align: left;
		padding-left: 15px;
	}

}

@media screen and (max-width: 460px) {
  .header-image img {
  	width: 300px;
  }
    
    #header-image-wrapper img {
      width: 300px;
    }
}

.dropdown-menu li {
	background: transparent;
}

.dropdown-menu li a {
	background: #eee;
	color: #666;
}

#header-image-wrapper {
	position: absolute;
	width: 100%;
}

#main-title {
	margin-bottom: 0;
	text-align: center;
}

#accordion {
	margin-top: 5px;
}

#graph {
	text-align: center;
}

#graph .btn {
	border-radius: 0;
}

.navbar {
	min-height: 0;
}

.navbar-right .dropdown-menu
{
	padding: 0;
}

.dropdown {
	text-align: right;
}

.dropdown a {
	background: transparent;
}

.tab-pane {
	min-height: 382px;
}

blockquote {
	font-size: 1em;
	background: #E9E9E9;
	border-left-color: #CFCFCF;
}

blockquote img {
	max-width: 500px;
	height: auto;
}

blockquote .avatar {
	margin-right: 5px;
}

.quote .quote blockquote {
	margin-left: -60px;
}

blockquote .title {
	margin-left: -60px;
	margin-bottom: 5px;
}

.quote-sidebar {
	float: left;
	width: 60px;
}

.quote {
	margin-left: 60px;
}

h4.panel-title a.collapsed:before {
  content: "▼";
  display: inline-block;
}

h4.panel-title a:before {
  content: "▼";
  transform: rotate(-90deg);
}