body {
	padding-top: 15px;
}

#spin-button {
	padding-top: 20px;
}

#spin-button .btn {
	border-radius: 0 !important;
	width: 100%;
}

.pad-top {
	padding-top: 25px;
}

.GREAT, .GREAT code {
	color: #4f9fcf;
}

.OK, .OK code {
	color: #2f6f9f;
}

.BAD, .BAD code {
	color: #c7254e;
}